 <div class ="container">
   <div class ="row mb-3" >
    <h1>会員一覧</h1>
   </div>
    <table class = "table">
     <div class "col">
      <thead class ="bg-light">
       <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
       </tr>
      </thead>
      <tbody>
       <% @customers.each do |customer| %>
       <tr>
        <td><%= customer.id %></td>
        <td><u><%= link_to customer.full_name ,admin_customer_path(customer.id) %></u></td>
        <td><%= customer.email %></td>
        <td>
         <% if customer.is_deleted %>
          <p class ="text-secondary font-weight-bold">退会</p>
         <% else %>
          <p class ="text-success font-weight-bold">有効</p>
         <% end %>
        </td>
       </tr>
       <% end %>
      </tbody>
     </div>
    </table>
    <div class ="row">
     <div class ="mx-auto">
      <%= paginate @customers %>
     </div>
    </div>
  </div>
