 <div class ="container">
  <div class ="row" >
     <div class = "col-8">
      <h3>注文情報確認</h3>
     </div>
  </div>
      <table class = "table" >
       <div class  "row">
         <div class = "col-8" >
          <thead>
           <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
           </tr>
          </thead>
          <tbody>
          <% @cart_items.each do |cart_item| %>
           <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.sum_price %></td>
           </tr>
          </tbody>
          <% end %>
         </div>
         <div class = "col" >
           <tr>
            <th>送料</th>
            <td>800</td>
           </tr>
           <tr>
            <th>商品合計</th>
            <td>1760</td>
           </tr>
           <tr>
            <th>請求金額</th>
            <td>2560</td>
           </tr>
         </div>
       </div>
      </table>
          
          <td><%#= link_to "注文を確定する",                    , method: :post, class: "btn btn-success" %></td> <%# submit にurlとmethod指定いい？ %>
          </tr>
        
       
      