<div class = "container">
<h1>商品一覧</h1>

<% @items.each do |item| %>

<%= link_to item_path(item.id) do %> <%#該当商品の詳細ページへ遷移したい %>
<%= image_tag item.get_image(100,100) %>
<% end %>

<%= link_to item.name,item_path(item.id) %>
<%= item.price %>
<% end %>

</div>